{% extends "base.html"%}{%block title%}DaskBoard{%endblock%}

{% block content %}
<div class="container-fluid cover-bg">
    <div class="d-flex w-100 h-100 p-1 mx-auto flex-column ">
      <header class="mb-auto">
        <nav class="navbar navbar-expand-lg sticky-top m-50-bt">
          <div class="container">
            <a class="navbar-brand royal-blue" href="#">Guide for U
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-masthead justify-content-center float-md-end" id="navbarSupportedContent">
              <a class="nav-link fw-bold " href="/account">Account</a>
            </div>
            
          </div>
        </nav>
      </header>
        
    </div>
</div>

<div class="px-3">
  <h1>Dashboard</h1>
</div>

{% endblock %}