{% extends "base.html"%}{%block title%}Login{%endblock%}

{% block content %}
    <div class="container " id="login">
        <div class=" w-100 m-auto">
            <div class="row ">
                <div class="d-flex justify-content-center align-items-center min-vh-100">
                    <div class="col-md-4 col-10">
                        <!-- //form login  -->
                        <form class="px-4 py-3 rounded-3 form-decoration" id="formLogin" action="/login" method="post" novalidate>
                            <h1 class="h3 mb-3 fw-normal">Please sign in this form!</h1>
                            <div class="form-floating mb-3">
                                    <!--<input id="username" type="text" class="form-control" id="floatingUsername" name="" >
                                    <label for="floatingUsername"></label>
                                </div>-->
                                
                                <input id="email" type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" name="email" required>
                                <label for="floatingInput" name="email" class="required">Email address </label>
                               
                            </div>
                            <div class="form-floating mb-3">
                                
                                <input id="password" type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password" name="password" required>
                                <label for="floatingPassword" class="required">Password </label>
                               
                            </div>
    
                            <button class="btn-decoration btn rounded-2 w-100 py-2" type="submit">Sign in</button>
    
                            <p>Not registered? <a href="/register" class="royal-blue">Register here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
